/**
 * @todo
 */

@font-face {
  font-family: "socialshare-icons";
  src: url('socialshare-icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"], [class*=" icon-"] {
  font-family: "socialshare-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-web-share:before {
  content: "\e900";
}
.icon-copy-link:before {
  content: "\e901";
}
.icon-print:before {
  content: "\e902";
}
.icon-send-email:before {
  content: "\e903";
}
.icon-facebook:before {
  content: "\e904";
}
.icon-x:before {
  content: "\e905";
}
.icon-linkedin:before {
  content: "\e906";
}
.icon-threads:before {
  content: "\e907";
}
.icon-bluesky:before {
  content: "\e908";
}
.icon-reddit:before {
  content: "\e909";
}
.icon-mastodon:before {
  content: "\e910";
}
.icon-quora:before {
  content: "\e911";
}
.icon-whatsapp:before {
  content: "\e912";
}
.icon-messenger:before {
  content: "\e913";
}
.icon-telegram:before {
  content: "\e914";
}
.icon-skype:before {
  content: "\e915";
}
.icon-viber:before {
  content: "\e916";
}
.icon-line:before {
  content: "\e917";
}
.icon-snapchat:before {
  content: "\e918";
}
