
// Compatibility old browsers

$ensemble_compat: false !default;


// Compound size

// 1rem (16px)  default to document font-size
// 1em          1 : relative to parent font-size
// 1rem         1 : relative to document font-size

$ensemble_socialshare_compound_font-size: 1rem !default;
$ensemble_socialshare_compound_line-height: 1 !default;


// Action

$ensemble-socialshare_action_row-gap: .2rem !default;
$ensemble-socialshare_action_column-gap: .2rem !default;


// Intents

$ensemble-socialshare_intent_padding: .25rem .3rem !default;
$ensemble-socialshare_intent_size: 1.5rem !default;
$ensemble-socialshare_intent_border: 0 !default;
$ensemble-socialshare_intent_border-radius: 0 !default;

$ensemble-socialshare_intent_foregrund: #fff !default;
$ensemble-socialshare_intent_background: #999898 !default;

// colouring

// buttons have harmonized colors with a similar and acceptable contrast-ratio in the button set
// if you prefer to strict comply to brand guidelines set colouring to 'original' instead
$ensemble-socialshare_intent_colouring: 'themed' !default;

$ensemble-socialshare_intents: (

  // local intents
  // 
  'web-share': #2c8888,
  'copy-link': #399d99,
  'send-email': #399d99,

  // remote intents
  // 
  'facebook': ( original: #0866ff, themed: #0666f8 ),
  'x': ( original: #000, themed: #393939 ),
  'linkedin': ( original: #0a66c2, themed: #2471d7 ),
  'threads': ( original: #000, themed: #404040 ),
  'bluesky': (original: #1185fe, themed: #0285ff ),
  'reddit': ( original: #ff4500, themed: #ff5000 ),
  'mastodon': ( original: #6364ff, themed: #6364ff ),
  'quora': ( original: #b92b27, themed: #b92b27 ),
  'whatsapp': ( original: #25d366, themed: #02b12c ),   // #00ad59
  'messenger': ( original: #0a7cff, themed: #0174ff ),
  'telegram': ( original: #04a4ec, themed: #0091dc ),   // #009be1
  'skype': ( original: #0078d7, themed: #0078d7 ),
  'viber': ( original: #7360f2, themed: #7c64f3 ),      // #7859fa
  'line': ( original: #06c755, themed: #22bb4f ),
  'snapchat': ( original: #fffc00, themed: #c7c000 ),

);


// Effects

%ensemble-socialshare_effects_intent {
  transform: scale3d(1);
  transform: scale(1);
  backface-visibility: hidden;
  transition: transform 50ms linear;
@if $ensemble_compat {
  -webkit-transform: scale3d(1);
  -webkit-transform: scale(1);
  -webkit-backface-visibility: hidden;
  -webkit-transition: -webkit-transform 50ms linear;
}

  &:active, &:focus {
    transform: scale3d(1.1);
    transform: scale(1.1);
@if $ensemble_compat {
    -webkit-transform: scale3d(1.1);
    -webkit-transform: scale(1.1);
}
  }

  @media (hover:hover) {
    &:hover {
      transform: scale3d(1.1);
      transform: scale(1.1);
@if $ensemble_compat {
      -webkit-transform: scale3d(1.1);
      -webkit-transform: scale(1.1);
}
    }
  }
}

$ensemble-socialshare_effects_intent_copy-link_msg_padding: 1.3rem 3rem !default;
$ensemble-socialshare_effects_intent_copy-link_msg_font-family: inherit !default;
$ensemble-socialshare_effects_intent_copy-link_msg_font-size: 1rem !default;
$ensemble-socialshare_effects_intent_copy-link_msg_font-weight: bold !default;
$ensemble-socialshare_effects_intent_copy-link_msg_line-height: 1.5 !default;
$ensemble-socialshare_effects_intent_copy-link_msg_text-align: center !default;
$ensemble-socialshare_effects_intent_copy-link_msg_color: rgba(255, 255, 255, .9) !default;
$ensemble-socialshare_effects_intent_copy-link_msg_background: rgba(0, 0, 0, .9) !default;
$ensemble-socialshare_effects_intent_copy-link_msg_zindex: 1002 !default;

$ensemble-socialshare_effects_bg__background: rgba(255, 255, 255, .3) !default;
$ensemble-socialshare_effects_bg__transition: opacity .8s ease-out !default;
$ensemble-socialshare_effects_bg__opacity: .78 !default;
$ensemble-socialshare_effects_bg__zindex: 1001 !default;


// Responsive

// xs: 0       (extra-small 480)
// sm: 576px   (small 640)
// md: 768px   (medium 800)
// lg: 992px   (large 1024)
// xl: 1200px  (extra-large 1280)

// lg (large 1024)
$ensemble-socialshare_lg__action_row-gap: .2rem !default;
$ensemble-socialshare_lg__action_column-gap: .3rem !default;

$ensemble-socialshare_lg__intent_size: 2rem !default;

